<header class="header" data-header>
  <div class="container">
    <a href="#" class="logo">
      <img src="assets/angular.png" width="60" height="28" alt="Logo" />
    </a>

    <nav class="navbar" data-navbar>
      <ul class="navbar-list">
        <li class="navbar-item">
          <a
            [routerLink]="['/convertor']"
            routerLinkActive="router-link-active"
            class="navbar-link"
            >EUR-USD Details</a
          >
        </li>

        <li class="navbar-item">
          <a
            [routerLink]="['/details']"
            routerLinkActive="router-link-active"
            class="label-lg navbar-link has-after"
            >EUR-GBP Details</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
